.containerCoinRow {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-white-light);
  padding: 20px;
  top: 20px;
}

.description {
  width: 100%;
  color: #3e3e3e;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: start;
}

.price {
  margin: 8px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0058FF;
  color: var(--color-white);
  border-radius: 25px;
  min-width: 210px;

  font-weight: 400;
  font-size: 24px;
  text-align: center;
}