.btn {
  all: unset;
  width: 192px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-family: "Inter";
  background-color: var(--color-blue);
  color: var(--color-white);
  text-align: center;
}